@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../../packages/laracms/core/resources/views/**/*.blade.php';
@source '../../packages/laracms/core/resources/**/*.js';


@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    /* LaraCMS Custom Colors */
    --color-background: var(--color-neutral-100);
    --color-background-alt: var(--color-neutral-200);
    --color-background-card: var(--color-white);
    --color-text: #343a40;
    --color-primary: #0d6efd;
    --color-button-bg: var(--color-neutral-800);
    --color-button-bg-hover: var(--color-neutral-700);
    --color-button-text: var(--color-white);
    --color-border: var(--color-neutral-300);
}

@layer theme {
    .dark{
        --color-background: var(--color-neutral-900);
        --color-background-alt: var(--color-neutral-950);
        --color-background-card: var(--color-neutral-800);
        --color-text: #e9ecef;
        --color-primary: #0d6efd;
        --color-button-bg: var(--color-neutral-200);
        --color-button-bg-hover: var(--color-neutral-300);
        --color-button-text: var(--color-neutral-800);
        --color-border: var(--color-neutral-700);
    }
}

@layer theme{
    .admin{
        background-color: var(--color-background);
        color: var(--color-text);
    }
}

[x-cloak] {
      display: none !important;
  }