@import 'tailwindcss';
@import '@/packages/laracms/core/resources/css/laracms.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../../packages/laracms/core/resources/views/**/*.blade.php';
@source '../../packages/laracms/core/resources/**/*.js';


@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    /* LaraCMS Custom Colors */


    /* FRONTEND THEME */
    --color-ui-bg: var(--color-neutral-50);
    --color-ui-bg-alt: var(--color-neutral-100);
    --color-ui-bg-card: var(--color-white);
    --color-ui-border: var(--color-neutral-300);

    --radius-ui-sm: var(--radius-sm);
    --radius-ui-md: var(--radius);
    --radius-ui-lg: var(--radius-lg);
}

@layer theme {
    .dark{

        /* FRONTEND THEME */
        --color-ui-bg: var(--color-neutral-900);
        --color-ui-bg-alt: var(--color-neutral-950);
        --color-ui-bg-card: var(--color-neutral-800);
        --color-ui-border: var(--color-neutral-700);
    }
}